/*
.header{
	background-color:white;
	height: 75px;
}
.nav-element{
	padding-top: 40px;
	margin: 30px;
}
*/
.header-1{
	/*background-color:white;*/
	background-color:white;
	padding-bottom: 10px;

}

.header-2{
	/*background-color: #E8A87C #FBEEC1*/
	background-color: #FBEEC1;
	 padding-top: 5px;
	 padding-bottom: 5px;

}
.nav-menu{
   background-color: ;

}
.nav-element{
	padding: 10px;


}